imports:
  - marketo_ma_fields.yml
default:
  context:
    class: FeatureContext
    parameters:
      marketo_settings:
        marketo_ma_munchkin_account_id: value
        marketo_ma_munchkin_api_private_key: value
        marketo_ma_soap_encryption_key: value
        marketo_ma_soap_endpoint: value
        marketo_ma_soap_user_id: value
        marketo_ma_tracking_method: soap
  paths:
    features: 'features'
  extensions:
    Behat\MinkExtension\Extension:
      goutte: ~
      selenium2: ~
      base_url: http://localhost
    Drupal\DrupalExtension\Extension:
      blackbox: ~
      api_driver: 'drupal'
      drupal:
        drupal_root: '/var/www'
      drush_driver: 'drush'
      drush:
        root: '/var/www'
      region_map:
        primary tabs: "ul.tabs.primary"
        secondary tabs: "ul.tabs.secondary"
