default:
  suites:
    default:
      contexts:
        - FeatureContext:
            parameters:
              marketo_settings:
                marketo_ma_instance_host: change_me_to_a_live_value
                marketo_ma_munchkin_account_id: change_me_to_a_live_value
                marketo_ma_munchkin_api_private_key: change_me_to_a_live_value
                marketo_ma_soap_encryption_key: change_me_to_a_live_value
                marketo_ma_soap_endpoint: change_me_to_a_live_value
                marketo_ma_soap_user_id: change_me_to_a_live_value
                marketo_ma_tracking_method: soap

              marketo_test_settings:
                marketo_ma_instance_host: app-sjqe.marketo.com
                marketo_ma_munchkin_account_id: 000-AAA-000
                marketo_ma_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_ma_tracking_method: munchkin
                marketo_ma_user_fieldmap:
                  uid: none
                  name: none
                  pass: none
                  mail: none
                  theme: none
                  signature: none
                  signature_format: none
                  created: none
                  access: none
                  login: none
                  status: none
                  timezone: none
                  language: none
                  picture: none
                  init: none
                  data: none

              marketo_default_settings:
                marketo_ma_instance_host: ''
                marketo_ma_logging: 0
                marketo_ma_munchkin_account_id: ''
                marketo_ma_munchkin_altIds: ''
                marketo_ma_munchkin_api_private_key: ''
                marketo_ma_munchkin_asyncOnly: ''
                marketo_ma_munchkin_clickTime: ''
                marketo_ma_munchkin_cookieAnon: ''
                marketo_ma_munchkin_cookieLifeDays: ''
                marketo_ma_munchkin_disableClickDelay: ''
                marketo_ma_munchkin_domainLevel: ''
                marketo_ma_munchkin_javascript_library: //munchkin.marketo.net/munchkin.js
                marketo_ma_munchkin_lead_source: ''
                marketo_ma_munchkin_partition: ''
                marketo_ma_pages: "admin\r\nadmin/*\r\nbatch\r\nnode/add*\r\nnode/*/*\r\nuser/*/*"
                marketo_ma_roles:
                  1: 0
                  2: 0
                  3: 0
                marketo_ma_soap_encryption_key: ''
                marketo_ma_soap_endpoint: ''
                marketo_ma_soap_proxy_host: ''
                marketo_ma_soap_proxy_login: ''
                marketo_ma_soap_proxy_password: ''
                marketo_ma_soap_proxy_port: ''
                marketo_ma_soap_user_id: ''
                marketo_ma_tracking_method: munchkin
                marketo_ma_user_fieldmap: []
                marketo_ma_user_triggers:
                  login: login
                  insert: insert
                  update: update
                marketo_ma_visibility_pages: '0'
                marketo_ma_visibility_roles: '1'
                marketo_ma_webform_fields: "FirstName|First Name\r\nLastName|Last Name\r\nEmail|Email Address"
                marketo_ma_webform_fields_soap: 'Retrieve from Marketo'

              marketo_page_vis_only:
                marketo_ma_munchkin_account_id: 000-AAA-000
                marketo_ma_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_ma_tracking_method: munchkin
                marketo_ma_visibility_pages: '1'

              marketo_role_vis_auth_exclude:
                marketo_ma_munchkin_account_id: 000-AAA-000
                marketo_ma_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_ma_tracking_method: munchkin
                marketo_ma_visibility_roles: '1'
                marketo_ma_roles:
                  1: 0
                  2: '2'
                  3: 0

              marketo_role_vis_auth_include:
                marketo_ma_munchkin_account_id: 000-AAA-000
                marketo_ma_munchkin_api_private_key: abcdefghijklmnopqrstuvwxyz
                marketo_ma_tracking_method: munchkin
                marketo_ma_visibility_roles: '0'
                marketo_ma_roles:
                  1: 0
                  2: '2'
                  3: 0

        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
  extensions:
    Behat\MinkExtension:
      base_url: "$DRUPAL_TI_WEBSERVER_URL:$DRUPAL_TI_WEBSERVER_PORT/"
      goutte: ~
      selenium2:
        capabilities:
          browser: "$DRUPAL_TI_BEHAT_BROWSER"
          browserVersion: ANY
          version: ANY
          deviceType: ANY
      browser_name: "$DRUPAL_TI_BEHAT_BROWSER"
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: "drupal"
      drush_driver: "drush"
      drupal:
        drupal_root: "$DRUPAL_TI_DRUPAL_DIR"
      drush:
        root: "$DRUPAL_TI_DRUPAL_DIR"
      region_map:
        primary tabs: "ul.tabs.primary"
        secondary tabs: "ul.tabs.secondary"
